<template>
  <div>
    <img class="logo" alt="X-Men logo" src="../assets/logo.png" />
    <img
      class="cyclops"
      v-on:click="getCharacterforName(cyclops)"
      alt="X-Men logo"
      src="../assets/cyclops1.png"
    />

    <img class="wolverine" v-on:click="getCharacterforName(wolverine)" alt="X-Men logo" src="../assets/wolverine.png" />
    <img class="colosus" v-on:click="getCharacterforName()" alt="X-Men logo" src="../assets/colosus.png" />
    <img class="jean" v-on:click="getCharacterforName()" alt="X-Men logo" src="../assets/jean.png" />
    <img class="rogue" v-on:click="getCharacterforName()" alt="X-Men logo" src="../assets/rogue.png" />
    <div>
      <Fichatecnica v-if="display"/>
       
    </div> 
    
    
  </div>
 

  
</template>
<script>

import { public_key } from "../marvel";
import axios from "axios";
import { gsap } from "gsap";
import Fichatecnica from './Fichatecnica.vue';
import { mapState, mapMutations} from "vuex";




export default {
  components: {Fichatecnica },
  name: "Character",
  data() {
    return {
        cyclops: "cyclops",
        wolverine: "wolverine",
        character: false,
        display: false,
    }
  },
  computed:{
    ...mapState
  },
  created(){
    
  },
  mounted() {
    this.getCharacter();
    this.enter()
  },

  methods: {
    getCharacter() {
      axios
        .get(
          `http://gateway.marvel.com/v1/public/characters?apikey=${public_key}`
        )
        .then((result) => {
          console.log(result);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    // getCharacterforName(name) {
    //   this.$store.state.name= name;
    //   console.log(name);
    //   this.character= true
    //   this.display = true
    // },
    ...mapMutations(['getCharacterforName']),
    
     enter(){
      gsap.from(".logo", {
        delay: 1.2,
        opacity: 0,
        x: -20,
        ease: "expo.inOut",
      })
    }
  },
};
</script>
<style>
.cyclops {
  height: 10%;
  width: 20%;
}
.wolverine {
  height: 10%;
  width: 20%;
}
.rogue {
  height: 10%;
  width: 20%;
}
.colosus {
  height: 50%;
  width: 10%;
}
.jean {
  height: 10%;
  width: 20%;
}
.logo {
  height: 15%;
  width: 35%;
}
</style>