<template>
   <div>
    
    <Character/>
 
   
  </div>
  
</template>

<script>

import Character from './components/Character.vue';
import './assets/tailwind.css'


export default {
  name: 'App',
  components: {
    Character
  },
  
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-image: url("./assets/fondo.jpg")}




</style>
